html {
    box-sizing: border-box;
    margin: 0px;
}
 
body{

}

.calculator-container{
    outline: 10px solid black;
    width: 600px;
    height: 750px;
    /* Calculator Color Shouldnt be visible if stretching properly */
    background-color: rgb(53, 212, 14);
}

/* Calculator Components */

.calculator-display{
    display:flex;
    justify-content: end;
    align-items: end;
    height:150px;

    background-color:rgb(19, 19, 19);
    color:rgb(209, 208, 208);
    font: 40px bold Roboto, Georgia, 'Times New Roman', Times, serif;;
      
}
.calculator-display p{
    margin:0px
}

.calculator-grid {
    display:flex;
    flex-direction: column;
    max-height: 600px;
    
    
}
.num-button{
    background-color: lightsalmon;
    border-radius: 15px;
    padding: 50px;
    flex: 1;
    gap:4px;

}

.row{
    flex: 1 1 150px;
    display:flex;
    gap:10px;
    padding:5px 5px;
    background-color: black;
}
.num-button {
    flex: 1;
    border:none;
    padding:10px;

    background-color:rgb(168, 73, 19);
    color:rgb(209, 208, 208);
    font: 35px bold Roboto, Georgia, 'Times New Roman', Times, serif;
}

#equals, #zero{
    flex:2.7
}
