html, body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
 
body{
    background-color:rgb(82, 82, 82);
    display:flex;
    justify-content: center;
} 

a {
    text-decoration:none;
    color: white;
    font: 30px bold Georgia
}

.calculator-container{
    height: 100vh;
    box-sizing: border-box;
    flex: 0 2 600px;
    border: 10px solid black;

    display:flex;
    flex-direction:column;
}

/* Calculator Components */
.calculator-display p{
    margin:10px;
}

.calculator-display{
    flex: 1 1 150px; 

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    
    background-color:rgb(19, 19, 19);
    color:rgb(209, 208, 208);
    font: 40px bold Georgia, 'Times New Roman', Times, serif;
}

.calculator-grid {
    flex: 2 2 600px;
    display:flex;
    flex-direction: column;
}

.num-button{
    color:rgb(209, 208, 208);
    background-color: rgb(25, 25, 25);
}

.row{
    flex: 1;
    display:flex;
    gap:10px;
    padding:5px 5px;
    background-color: black;
}

.num-button, .operator, .function {
    flex: 1;
    border:none;
    padding:10px;
    border-radius: 15px;
    font: 35px bold Georgia, 
        'Times New Roman', Times, serif;
    color:rgb(209, 208, 208);
}

.operator {
    background-color:rgb(168, 73, 19);
    
}

.function{
    background-color: rgb(65, 65, 65);
}

#prevTotal {
    color:rgb(115, 115, 115);
    text-align: start;
}
