html {
    box-sizing: border-box;
    margin: 0px;
}
 
body{
    background-color:rgb(82, 82, 82);
    display:flex;
    justify-content: center;
}

.calculator-container{
    outline: 10px solid black;
    width: 600px;
    height: 750px;
    /* Calculator Color Shouldnt be visible if stretching properly */
    background-color: rgb(53, 212, 14);
}

/* Calculator Components */

.calculator-display{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    height:150px;
    background-color:rgb(19, 19, 19);
    color:rgb(209, 208, 208);
    font: 40px bold Roboto, Georgia, 'Times New Roman', Times, serif;; 
}
.calculator-display p{
    margin:10px;
}

.calculator-grid {
    display:flex;
    flex-direction: column;
    max-height: 600px;
}
.num-button{
    color:rgb(209, 208, 208);
    background-color: rgb(25, 25, 25);
}

.row{
    flex: 1 1 150px;
    display:flex;
    gap:10px;
    padding:5px 5px;
    background-color: black;
}
.num-button, .operator, .function {
    flex: 1;
    border:none;
    padding:10px;
    border-radius: 15px;
    font: 35px bold Roboto, Georgia, 
        'Times New Roman', Times, serif;
    color:rgb(209, 208, 208);
}

.operator {
    background-color:rgb(168, 73, 19);
    
}

.function{
    background-color: rgb(65, 65, 65);
}

#prevTotal {
    color:rgb(115, 115, 115);
    text-align: start;
}

/* #equals, #zero{
    flex:2.7
} */
